@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0,13,36);
  background: linear-gradient(90deg, rgba(0,13,36,1) -22%, rgba(0,19,85,1) 0%, rgba(0,185,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
